html {
    scroll-behavior: smooth; 
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    padding: 0 10px;
    line-height: 50px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

.header {
    margin-left: 50px;
}

.profile-photo {
    border-radius: 50%;
}

h1 {
    position: relative;
    left: 250px;
    bottom: 140px;
}

ul {
    list-style-type: circle;
}

.footer-elem {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.about-block {
    width: 55vw;
}

.margin-right {
    margin-left: auto;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}